body {
    margin: 0 auto;
    padding: 50px;
  
    color: #333;
  
    font-size: 18px;
    font-family: serif;
    line-height: 1.5;
  
    background-color: #f2eac5;
  }
article {
  width: 500px;
  column-count: 2;
}
  
  